<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Trabajo 08
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Trabajo 08. Ionic</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
      <ion-label>Rest duration</ion-label>
      <ion-datetime display-format="mm:ss" placeholder="Tap here" [(ngModel)]="fullTime"></ion-datetime>
    </ion-item>

  <div id="container">

    

    <circle-progress (click)="startTime()"
    [percent]="percent"
    [maxPercent]="100"
    [radius]="radius"
    [showTitle]="false"  
    [showSubtitle]="false"
    [showUnits]="false"
    [outerStrokeWidth]="16"
    [outerStrokeColor]="'#15ff00'"
    [showZeroOuterStroke]="false"
    [backgroundStroke]="'#49ae50'"
    [backgroundStrokeWidth]="3"
    [outerStrokeGradient]="true"
    [outerStrokeGradientStopColor]="'#3cff00'"
    [showInnerStroke]="false"
  ></circle-progress>
    
    <p>{{ elapsed.h }}:{{elapsed.m}}:{{elapsed.s}}</p>

    

  </div>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ng-container *ngIf="timer == false; else running">
      <ion-fab-button (click)="startTime()">
          <ion-icon name="play"></ion-icon>
        </ion-fab-button>
    </ng-container> 
    <ng-template #running>
        <ion-fab-button (click)="stopTime()">
            <ion-icon name="square"></ion-icon>
          </ion-fab-button>
    </ng-template>
  </ion-fab>
</ion-content>
